globals:
  $: true
  ApplicationConfiguration: true
  Buffer: true
  __dirname: true
  after: true
  afterEach: true
  angular: true
  before: true
  beforeEach: true
  console: true
  define: true
  describe: true
  document: true
  expect: true
  exports: true
  inject: true
  it: true
  jQuery: true
  module: true
  process: true
  require: true
  setInterval: true
  setTimeout: true
  window: true

rules:
  accessor-pairs: 2
  block-scoped-var: 2
  camelcase: 2
  comma-dangle: 0
  comma-spacing: 1
  comma-style: [2, "last"]
  complexity: [1, 5]
  curly: 2
  dot-notation: 2
  eqeqeq: 2
  strict: [2, "always"]
  indent: [1, 2]
  max-len: [1, 80, 2]
  max-params: [1, 4]
  no-alert: 1
  no-console: 0
  no-control-regex: 2
  no-div-regex: 2
  no-dupe-args: 2
  no-dupe-keys: 2
  no-duplicate-case: 2
  no-empty: 2
  no-eval: 2
  no-implied-eval: 2
  no-invalid-regexp: 2
  no-loop-func: 2
  no-mixed-spaces-and-tabs: 2
  no-multi-spaces: 2
  no-multi-str: 2
  no-process-exit: 0
  no-redeclare: 2
  no-regex-spaces: 2
  no-script-url: 2
  no-self-compare: 2
  no-trailing-spaces: 2
  no-undef-init: 2
  no-undef: 2
  no-undefined: 2
  quotes: [1, "single"]
  semi: [2, "always"]
  space-after-keywords: [1, "always"]
  space-before-blocks: [1, "always"]
  space-before-function-paren: [1, "never"]
  strict: [2, "global"]
  vars-on-top: 2
  wrap-regex: 2
  yoda: [1, "always"]
